body {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#title {
	color: #ffffff;
}

.gtable { 
	display: table; 
	width: 100%;
	padding-top: 5px;
}
.gtrow { 
	display: table-row; 
	padding-bottom: 2px;
}
.gthrow { 
	display: table-row; 
	font-weight: bold;
	background-color: #f7f7f7;
	color: #666666;
}
.gtcell { display: table-cell; }
